.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  border-right: 1px solid gray;
  padding-top: 30px;
  padding-left: 2%;
  padding-right: 2%;
  min-width: 15%;
}

.side-elem {
  width: 90%;
  padding-top:8px;
  padding-bottom: 8px;
  transition: background-color 0.3s;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-right: 8px;
}

.side-elem:hover {
  background-color: rgba(211, 211, 211, 0.452);
}

.line {
  background-color:gray;
  opacity: 0.5;
  height:1.5px;
  width:100%;
  border-radius: 4px;
}

#addProj {
  width: 80%;
  padding-top:12px;
  padding-bottom: 12px;
  transition: background-color 0.3s;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  bottom:30px;
  position: absolute;
  background-color: #141414;
  border-radius: 10px;
  
}

#addProj:hover {
  background-color: black;
}

.create-task {
  height: 60%;
  width: 40%;
  min-width: 600px;
  min-height: 600px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position:absolute;
  margin: auto;
  display: none;
  transition: display 0.6s;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  z-index: 100;
}

.blur {
  width:100%;
  height:100%;
  filter:blur(5px);
  transition: filter 0.3s ease;
  position: absolute;
  z-index: -1;
}

.close {
  margin:auto;
  right:20px;
  top:5px;
  text-align: right;
  position:absolute;
  cursor: pointer;
  height:30px;
  width:50px;
  font-size:30px;
}

.close:active {
  margin-top: 3px;
}

.banner {
  width: 100%;
  border-bottom: 1px solid black;
  height:10%;
  margin-bottom: 10px;
}

.create {
  background-color: rgb(9, 38, 187);
  color: white;
  border-radius: 3px;
  margin-top: 20px;
  border: 0px;
  padding: 10px 20px;
  font-size: 18px;
  transition: background-color 0.4s, transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.create:hover {
  background-color: #2545d7;
  color: white;
}

.createText {
  display: inline-block;  /* Ensure the text is treated as an inline block */
  transition: transform 0.3s ease;
}

.create:hover .createText {
  transform: scale(1.1);  /* Scale the text when hovering over the button */
}

.side {
  display: inline-block;
  margin-bottom: 10px;
  border-right: 1px solid black;
  padding-right: 20px;
  margin-right: 10px;
  height: 79%;
  width:15%
}

.createForm {
  display: inline-block;
  margin-left: 10px;
}

.prio {
  background-color: white;
  border-radius: 3px;
  font-size: 15px;
  margin: 10px;
  transition: background-color 0.4s;
}

.prio:hover {
  background-color: black;
  color:white;
}

.projPage {
  display:inline-block;
  margin-left: 30%;
  width: 70%;
}

.task-stuff {
  display: inline-block;
  
}

.right-task {
  float: right;
  display: inline-block;
}

.task {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 90%;
  padding-top:10px; 
  padding-bottom:10px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #eee;
  transition: all .2s ease-out;
  min-width: 50vh;
}

.task:hover {
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
}


.header {
  
  border-bottom:1px solid black !important;
  margin-top:5% !important;
  width: 90% !important;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.strike {
  text-decoration: line-through;
  color:#8d8d8d;
}

.error {
  font-size: 11px;
  color: red;
  margin-left: 3px;
  display: none;
  margin-top: 3px;
  margin-bottom: 5px;
}

label {
  display: inline-block;
  margin-top: 10px;
  }

  input[type='text'] {
    padding:5px;
    width: 207px;
  }

  input[type="checkbox"]:checked {
    background-color: blue !important;
    color: white;
  }

  textarea {
    resize: none;
    width: 215px;
    height:50px;
    font-family: 'Roboto' !important;
    padding: 5px;
    font-size: 14px;
  }

  img:hover {
    fill:#2545d7
  }

  .prioLevel {
    margin-right: 7px;
    color:rgb(86, 86, 219);
  }